@import '../../style/variables.scss';

.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 60% 37.5%;
        column-gap: 2.5%;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 30px;
        justify-content: center;
    }
    &__item {
        width: 195px;
        height: 318px;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 195px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
        }
        &_focused {
            transform: translateY(-8px);
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }
}

@media (max-width: 551px) {
    .char {
        &__content {
            grid-template-columns: 47% 47.5%;
            column-gap: 5.5%;
        }
        &__item {
            width: 150px;
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}